<!-- Links -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Links</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Title</td>
					<td>Caption</td>
					<td>Link</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Some Link</td>
					<td>Click me!</td>
					<td>http://www.somelink.com</td>
					<td>
						<div class="pull-right">
							<button class="btn btn-xs btn-primary pull-left"><i class="glyphicon glyphicon-edit"></i></button>
							<button class="btn btn-xs btn-danger pull-left"><i class="glyphicon glyphicon-minus"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>