/*

Web Graphics Gallery
Scott Stadt
Last Revised: 10/21/2014

*/

.gallery {
	background-color: @black;
	background-image: url(images/gallery/stars.jpg);

	/*-------- Document --------*/

	body {
		background-color: transparent;
		font-family: Futura, Calibri, Tahoma, sans-serif;
		color: @black;
	}

	#moon {
		position: fixed;
		height: 301px;
		width: 301px;
		top: 50px;
		left: 0;
		margin-left: -130px;
		background-image: url(images/gallery/moon.png);

		@media(@xs) {
			display: none;
		}
	}

	#footer {
		clear: both;
		height: 250px;
		bottom: 0;
		left: 0;
		margin-top: 20px;
		background-image: url(images/gallery/bg_footer.png);
		background-repeat: no-repeat;
		background-position: center;

		p {
			color: @light-green-gray;
			font-size: 0.9em;
			padding-top: 200px;
			width: 100%;
			text-align: center;
		}
	}

	/*-------- Links --------*/

	a {
		text-decoration: none;
		color: @sky-blue;

		&:hover {
			color: @dark-sky-blue;
		}

		&:active {
			color: @darker-sky-blue;
		}
	}

	/*-------- Image Replacement --------*/

	#logo {
		text-indent: -9999px;
		height: 92px;
		width: 318px;
		margin: 20px 0;
		background-image: url(images/gallery/bg_header.png);
		background-repeat: no-repeat;
	}

	/*-------- Gallery --------*/

	#img_gallery {
		overflow: hidden;
		background-color: @off-white;
		padding: 50px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;

		@media(@xs) {
			padding: 20px;
		}
	}

	#gallery_thumbs {
		.gallery_thumb {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: @darker-gray;
			height: 110px;
			width: 110px;
			float: left;
			margin: 10px;
			padding: 10px;
			border-radius: 6px; 
			-moz-border-radius: 6px; 
			-webkit-border-radius: 6px;

			&:hover {
				background-color: @sky-blue;
				cursor: pointer;
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	/*-------- Modal --------*/

	#modal_overlay {
		position: fixed;
		left: 0;
		top: 0;
	    display: none;
	    zindex: 10000;
	    color: @white;
		display: none;
		height: 100%;
		width: 100%;
		background: rgba(0%, 0%, 0%, 0.7);
	}

	#viewer_modal {
		padding: 40px 60px;
	    display: none;
	    position: fixed;
	    zindex: 10001;
	    top: 20%;
	    left: 50%;
		width: 680px;
		height: 60%;
	    margin-left: -400px;
		background-color: @darker-gray;
		overflow: hidden;
		border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		box-shadow: 0px 0px 20px @black;
		-moz-box-shadow: 0px 0px 20px @black;
		-webkit-box-shadow: 0px 0px 20px @black;
	}

	#viewer_next {
		top: 50%;
		left: 751px;
		margin-top: -19px;
		background-position: 39px 0;

		&:hover {
			background-position: 39px 78px;
		}

		&:active {
			background-position: 39px 39px;
		}
	}

	#viewer_prev {
		top: 50%;
		left: 10px;
		margin-top: -19px;

		&:hover {
			background-position: 0 78px;
		}

		&:active {
			background-position: 0 39px;
		}
	}

	#viewer_next, #viewer_prev, #viewer_close, #flash_close {
		display: block;
		position: absolute;
	}

	#viewer_next, #viewer_prev {
		text-indent: -9999px;
		height: 39px;
		width: 39px;
		background-image: url(images/gallery/sprite_viewer.png);
	}

	#viewer_close {
		color: @storm-gray;
		text-transform: uppercase;
		text-decoration: none;
		top: 10px;
		left: 735px;

		&:hover {
			color: @sky-blue;
		}
	}

	#image_viewer {
		width: 100%;
		height: 100%;
	}

}

