/*

Vintage Theater Portfolio
Scott Stadt
Last Revised: 10/18/2014

*/

.portfolio {
	background-color: @cream;
	background-image: url('images/bg_paper.jpg');

	body {
		font-family: 'Open Sans', sans-serif;
		color: @dark-gray;
		position: relative;
		width: 100%;
		background-image: url('images/bg_upper-trim.png');
		background-repeat: repeat-x;
		background-color: transparent;
	}

	#header {
		padding-top: 150px;
		overflow: hidden;

		img {
			float: left;
		}
	}

	h3 {
		height: 30px;
		width: 100%;
		background-image: url('images/bg_hr.jpg');
		background-repeat: repeat-x;
		background-position: 0 14px;

		span {
			display: block;
			margin: 0 auto;
			text-indent: -9999px;
		}
	}

	#footer {
		height: 55px;
		background-image: url('images/bg_lower-trim.png');
		background-repeat: repeat-x;

		p {
			padding-top: 20px;
			margin: 0;
			font-size: 16px;
			color: @cream;
		}
	}

	/*-------- Typography --------*/

	h2 {
		font-weight: normal;
		font-size: 35px;

		@media(@sm) {
			font-size: 28px;
		}
	}

	ul, p {
		list-style: none;
		font-size: 22px;

		@media(@sm) {
			font-size: 14px;
		}

		@media(@md) {
			font-size: 17px;
		}
	}

	#welcome-txt, #portfolio-txt, #contact-txt {
		height: 30px;
		width: 128px;
		background-repeat: no-repeat;
	}

	#welcome-txt {
		background-image: url('images/h3_welcome.jpg');
	}

	#portfolio-txt {
		background-image: url('images/h3_portfolio.jpg');
	}

	#contact-txt {
		width: 108px;
		background-image: url('images/h3_contact.jpg');
	}

	/*-------- Links --------*/

	a {
		text-decoration: none;
		color: #747474;

		&:hover {
			color: @charcoal;
		}

		&:active {
			color: @dark-gray;
		}
	}

	/*-------- Navigation --------*/

	#nav {
		display: block;
		margin-left: 20px;

		@media(@xs) {
			margin-top: -11px;
			width: 125px;
			float: right;
		}

		@media(@sm) {
			margin-top: 49px;
		}

		@media(@md) {
			margin-top: 36px;
		}

		li {
			float: left;
			margin-left: 20px;

			@media(@xs) {
				float: right;
			}
		}

		a {
			text-transform: lowercase;
			text-decoration: none;
			font-size: 52px;
			color: @dark-gray;

			@media(@sm) {
				font-size: 28px;
			}

			@media(@md) {
				font-size: 40px;
			}

			&:hover, &:active {
				-webkit-text-shadow: -3px 3px 0 @sepia;
				-moz-text-shadow: -3px 3px 0 @sepia;
				text-shadow: -3px 3px 0 @sepia;
			}
		}
	}

	#scroll-top a {
		display: block;
		height: 117px;
		width: 139px;
		position: fixed;
		top: 100%;
		left: 80%;
		background-image: url('images/btn_top.png');
		background-repeat: no-repeat;

		@media(@xs) {
			left: 50%;
			margin-left: 70px;
		}
	}

	/*-------- Welcome --------*/

	#intro {
		margin: 10px;
	}

	#welcome {
		h1 {
			font-size: 100px;
			font-weight: bold;
			text-transform: uppercase;
			-webkit-text-shadow: -3px 3px 0 @sepia;
			-moz-text-shadow: -3px 3px 0 @sepia;
			text-shadow: -3px 3px 0 @sepia;
		}

		p, h1 {
			width: 100%;
			text-align: center;
			margin: 5px 0;
		}
	}

	/*-------- Expertise --------*/

	#u-trim, #l-trim {
		height: 9px;
		background-image: url('images/bg_highlight-trim.png');
		background-repeat: repeat-x;
	}

	#l-trim {
		background-position: 0 -9px;
	}

	#expertise {
		position: relative;
		background-color: @dark-gray;
		background-image: url('images/ampersand.jpg');
		background-repeat: no-repeat;
		background-position: center;
		color: @cream;
		overflow: hidden;
		padding: 20px 0;
		-webkit-text-shadow: -2px -2px 0 @dark-gray, 2px -2px 0 @dark-gray, -2px 2px 0 @dark-gray, 2px 2px 0 @dark-gray;
		-moz-text-shadow: -2px -2px 0 @dark-gray, 2px -2px 0 @dark-gray, -2px 2px 0 @dark-gray, 2px 2px 0 @dark-gray;
		text-shadow: -2px -2px 0 @dark-gray, 2px -2px 0 @dark-gray, -2px 2px 0 @dark-gray, 2px 2px 0 @dark-gray;

		@media(@xs) {
			background-image: none;
		}

		@media(@sm) {
			background-image: none;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -95px;
			margin-left: -80px;

			@media(@xs) {
				display: none;
			}

			@media(@sm) {
				display: none;
			}

			@media(@md) {
				display: none;
			}
		}

		h2 {
			margin: 0 auto;
			margin-top: 30px;
			text-indent: -9999px;
			background-repeat: no-repeat;
		}

		ul {
			padding: 0;
			width: 100%;
		}

		li {
			font-size: 33px;
			width: 100%;
			text-align: center;

			@media(@sm) {
				font-size: 24px;
			}
		}

		#design, #development {
			width: 424px;
			height: 433px;
			background-image: url('images/bg_expertise.jpg');
			background-repeat: no-repeat;

			@media(@xs) {
				background-image: none;
				width: 100%;
				height: auto;
				z-index: 101;
			}

			@media(@sm) {
				background-image: none;
				width: 100%;
				height: auto;
				z-index: 101;
			}
		}

		#design {
			float: left;

			@media(@lg) {
				margin-left: 20px;
			}

			h2 {
				height: 58px;
				width: 156px;
				background-image: url('images/h2_design.png');
			}
		}

		#development {
			float: right;
			background-position: 0 -433px;

			@media(@lg) {
				margin-right: 20px;
			}

			h2 {
				height: 47px;
				width: 350px;
				padding: 5px 0 4px 0;
				background-image: url('images/h2_development.png');
				background-position: 0 9px;
			}
		}
	}

	/*-------- Portfolio --------*/

	#pf {
		height: 547px;
		overflow: hidden;
		margin: 20px 10px;
	}

	#portfolio {
		a {
			display: block;
			margin: 0 auto;
			height: 32px;
			width: 210px;
			text-indent: -9999px;
			background-image: url('images/btn_portfolio-nav.png');
			background-repeat: no-repeat;

			&:nth-of-type(2) {
				background-position: 0 -32px;
			}
		}

		.project {
			position: relative;
			overflow: hidden;
			height: 277px;

			img {
				float: left;
				padding: 16px 23px;
				background-image: url('images/bg_project.png');
				background-repeat: no-repeat;

				@media(@xs) {
					background-image: none;
					margin: 0 auto;
					padding: 16px 0;
					max-width: 100%;
					float: none;
				}
			}

			div {
				float: left;
				width: 820px;
				margin-left: 20px;

				@media(@xs) {
					display: none;
				}

				@media(@sm) {
					width: 300px;
				}

				@media(@md) {
					width: 500px;
				}
			}

			h2 {
				margin: 0;
			}

			p:nth-of-type(1) {
				margin-top: 0;
				font-size: 18px;
				color: @charcoal;

				@media(@sm) {
					font-size: 14px;
				}
			}

			a.link {
				opacity: 0.4;
				position: absolute;
				display: block;
				height: 54px;
				width: 54px;
				top: 181px;
				left: 323px;
				background-image: url('images/btn_link.png');
				background-repeat: no-repeat;
				-webkit-transition: @transition-opacity;
				-moz-transition: @transition-opacity;
				-ms-transition: @transition-opacity;
				-o-transition: @transition-opacity;
				transition: @transition-opacity;

				@media(@xs) {
					left: 300px;
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	/*-------- Contact --------*/

	#contact {
		overflow: hidden;
		margin-bottom: 20px;

		#contact-info {
			ul {
				margin-top: 20px;
			}

			h2 {
				margin-top: 0;
			}
		}

		label {
			font-family: 'Open Sans', sans-serif;
			font-size: 22px;
		}

		input, textarea {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
		}

		.form-control[type="text"], textarea.form-control {
			color: @charcoal;
			background-color: @off-white;
			border: 1px solid @charcoal;

			&:focus {
				color: @dark-gray;
				border: 1px solid @dark-gray;
			}
		}

		textarea {
			resize: vertical;
		}

		.submit {
			color: @cream;
			background-color: @dark-gray;
			font-size: 20px;
			margin-top: 10px;
			padding: 12px 60px;
			border: 1px solid @black;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			-webkit-box-shadow: inset 0px 0px 2px @charcoal;
			-moz-box-shadow: inset 0px 0px 2px @charcoal;
			box-shadow: inset 0px 0px 2px @charcoal;

			&:active {
				padding: 16px 60px 8px 60px;
				-webkit-box-shadow: inset 0px 4px 4px @black;
				-moz-box-shadow: inset 0px 4px 4px @black;
				box-shadow: inset 0px 4px 4px @black;
			}
		}
	}
}

