<div class="row">
	<div class="col-xs-12">
		<form data-bind="submit: addPost">
			<div class="form-group">
				<label for="new_post_title">Title</label>
				<input type="text" data-bind="textInput: newPostTitle" name="new_post_title" />
			</div>
			<div class="form-group">
				<label for="new_post_tags">Tags</label>
				<input type="text" data-bind="textInput: newPostTags" name="new_post_tags" />
			</div>
			<div class="form-group">
				<textarea id="new_post_content" data-bind="wysihtml5: { data: newPostContent }"></textarea>
			</div>
		</form>
		<div data-bind="text: newPostContent"></div>
	</div>
</div>