<div class="container-fluid">
	<div class="row">
		<div id="charListContainer" class="col-md-8">
			<h2>Character List</h2>
			<div class="list-head">
				<div class="col-md-3">
					<a href="#" data-bind="click: sortCharacterList.bind($data, 'name')">
						<i class="glyphicon"></i> Name
					</a>
				</div>
				<div class="col-md-2">
					<a href="#" data-bind="click: sortCharacterList.bind($data, 'charClass')">
						<i class="glyphicon"></i> Class
					</a>
				</div>
				<div class="col-md-1">
					<a href="#" data-bind="click: sortCharacterList.bind($data, 'strength')">
						<i class="glyphicon"></i> STR
					</a>
				</div>
				<div class="col-md-1">
					<a href="#" data-bind="click: sortCharacterList.bind($data, 'dexterity')">
						<i class="glyphicon"></i> DEX
					</a>
				</div>
				<div class="col-md-1">
					<a href="#" data-bind="click: sortCharacterList.bind($data, 'vitality')">
						<i class="glyphicon"></i> VIT
					</a>
				</div>
				<div class="col-md-1">
					<a href="#" data-bind="click: sortCharacterList.bind($data, 'intellect')">
						<i class="glyphicon"></i> INT
					</a>
				</div>
				<div class="col-md-1">
					<a href="#" data-bind="click: sortCharacterList.bind($data, 'health')">
						<i class="glyphicon"></i> HP
					</a>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="list-content" data-bind="visible: characters().length > 0, template: { foreach: characters, beforeRemove: hideCharacterElement, afterAdd: showCharacterElement }">
				<div class="list-item">
					<div class="col-md-3" data-bind="text: name">Name</div>
					<div class="col-md-2" data-bind="text: charClass">Class</div>
					<div class="col-md-1" data-bind="text: strength">Strength</div>
					<div class="col-md-1" data-bind="text: dexterity">Dexterity</div>
					<div class="col-md-1" data-bind="text: vitality">Vitality</div>
					<div class="col-md-1" data-bind="text: intellect">Intellect</div>
					<div class="col-md-1" data-bind="text: health">Health</div>
					<div class="col-md-2">
						<div class="pull-right">
							<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#characterModal" data-bind="click: $parent.viewCharacter">
								<i class="glyphicon glyphicon-folder-open"></i>
							</button>
							<button class="btn btn-xs btn-danger">
								<i class="glyphicon glyphicon-trash" data-bind="click: $parent.removeCharacter"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div data-bind="component: { name: 'character-creater', params: { characterList: characters } }"></div>
		</div>
	</div>
</div>

<div data-bind="component: { name: 'character-viewer', params: { characterList: characters, selectedCharacter: selectedCharacter } }"></div>

