<h2>Create New Character</h2>

<form role="form" data-bind="submit: addCharacter">

	<!-- New Character Details -->
	<div class="form-group">
		<label for="newName">Character Name</label>
		<input type="text" id="newName" class="form-control" data-bind="textInput: newCharacterName" />
	</div>
	<div class="form-group">
		<label for="newClass">Class</label>
		<select id="newClass" class="form-control" data-bind="
			options: classOptions,
			optionsCaption: '',
			value: newCharacterClass,
			event: { change: setNewCharacterClass }" />
		</select>
	</div>

	<!-- New Character Statistics -->
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="newStr">Strength</label>
				<input type="text" id="newStr" class="form-control" data-bind="textInput: newCharacterStrength" readonly />
			</div>
			<div class="form-group">
				<label for="newVit">Vitality</label>
				<input type="text" id="newVit" class="form-control" data-bind="textInput: newCharacterVitality" readonly />
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="newDex">Dexterity</label>
				<input type="text" id="newDex" class="form-control" data-bind="textInput: newCharacterDexterity" readonly />
			</div>
			<div class="form-group">
				<label for="newInt">Intellect</label>
				<input type="text" id="newInt" class="form-control" data-bind="textInput: newCharacterIntellect" readonly />
			</div>
		</div>
	</div>

	<!-- New Character Bio -->
	<div class="form-group">
		<label for="newBio">Biography</label>
		<textarea id="newBio" class="form-control" data-bind="textInput: newCharacterBiography"></textarea>
	</div>

	<!-- Add New Character -->
	<div class="form-group">
		<button type="submit" class="form-control btn btn-primary">Create Character</button>
	</div>
</form>