
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-group">
					<a href="/" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-home"></i> Return to Portfolio</a>
					<a href="/session/destroy" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
				</div>
				<h1><%= sails.config.globals.site.title %> Admin Panel</h1>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">

			<div data-bind="component: 'skill-list'"></div>

			<div data-bind="component: 'project-list'"></div>

			<div data-bind="component: 'link-list'"></div>

			<div data-bind="component: 'gallery-list'"></div>

		</div>
	</div>
</div>

<script src="/js/vendor/requirejs/require.js" data-main="/js/admin-app.js"></script>

