
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h1><%= sails.config.globals.site.title %> Admin Panel</h1>
				<a href="/" class="btn btn-primary">Return to Portfolio</a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">

			<div data-bind="component: 'skill-list'"></div>

			<div data-bind="component: 'project-list'"></div>

			<div data-bind="component: 'link-list'"></div>

		</div>
	</div>
</div>

<script src="/js/vendor/requirejs/require.js" data-main="/js/admin-app.js"></script>

