<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="btn-group">
					<a href="/" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-home"></i> Return to Portfolio</a>
					<a href="/session/destroy" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
				</div>
				<h1><%= sails.config.globals.site.title %> Admin Panel</h1>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">

			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#blog" aria-controls="blog" role="tab" data-toggle="tab">Blog</a>
				</li>
				<li role="presentation">
					<a href="#portfolio" aria-controls="portfolio" role="tab" data-toggle="tab">Portfolio</a>
				</li>
				<li role="presentation">
					<a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="blog">
					<div data-bind="component: 'blog-editor'"></div>
				</div>
				<div role="tabpanel" class="tab-pane" id="portfolio">
					<div data-bind="component: 'skill-list'"></div>
					<div data-bind="component: 'project-list'"></div>
					<div data-bind="component: 'link-list'"></div>
				</div>
				<div role="tabpanel" class="tab-pane" id="gallery">
					<div data-bind="component: 'gallery-list'"></div>
				</div>
			</div>

		</div>
	</div>
</div>

