
<div id="gallery-container" class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
			<h1 id="logo">Web Graphics</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">

			<div id="img_gallery">

				<div id="gallery_thumbs" data-bind="foreach: images">
					<div class="gallery_thumb" data-bind="click: $parent.openGallery" data-toggle="modal" data-target="#galleryModal">
						<img data-bind="attr: { src: link }" />
					</div>
				</div>

			</div>

		</div>
	</div>

</div>

<div id="footer" class="container-fluid">
	<div class="row">
		<p class="text-center">&copy;<%= new Date().getFullYear() %> <%= sails.config.globals.site.title %>. Powered by <a href="http://sailsjs.org/#/">Sails.js</a>.</p>
	</div>
</div>

<div id="galleryModal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<a id="viewer_next" href="#" data-bind="click: nextImage">next</a>
				<a id="viewer_prev" href="#" data-bind="click: prevImage">previous</a>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<img data-bind="attr: { src: activeImage }" />
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="moon"></div><!-- moon graphic -->


