<div id="wrapper">
	
	<div id="header">
		<div id="logo"><h1>Web Graphics</h1></div>
	</div><!-- close the #header div -->

	<div id="content" class="rc">

	<div id="img_gallery">

		<div id="gallery_nav">
			<a id="gallery_next" href="#">next page</a><a id="gallery_prev" href="#">previous page</a><p>page 1 of 2</p>
		</div>

		<div id="tabs">

			<div class="tab" id="img_tab1">
				<div class="thumbnail">
					<img alt="Jedi Family" src="images/gallery/thumbs/composite_JediFamily.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Lego Wedding" src="images/gallery/thumbs/composite_LegoWedding.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Triel Bookmark" src="images/gallery/thumbs/illustration_TrielBookmark.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Rebellion Poster" src="images/gallery/thumbs/illustration_RebellionPoster.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Gamer On Board" src="images/gallery/thumbs/illustration_GamerOnBoard.png">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Vida" src="images/gallery/thumbs/illustration_Vida.png">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Soldier Painting" src="images/gallery/thumbs/illustration_SoldierPainting.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Ruins Poster" src="images/gallery/thumbs/illustration_RuinsPortrait.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Toy Robot" src="images/gallery/thumbs/illustration_ToyRobot.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Dark Planet" src="images/gallery/thumbs/space_DarkPlanet.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Living Planet" src="images/gallery/thumbs/space_LivingPlanet.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Goron Map" src="images/gallery/thumbs/dnd_GoronMap.png">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="WKII Logo" src="images/gallery/thumbs/logo_WKII.png">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Snapdragon Studios Logo" src="images/gallery/thumbs/logo_SnapdragonStudios.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Ascension Banner" src="images/gallery/thumbs/wow_AscensionBanner.png">
				</div><!-- .thumbnail -->
			</div><!-- #img_tab1 -->
			<div class="tab" id="img_tab2">
				<div class="thumbnail">
					<img alt="Fawynd Signature" src="images/gallery/thumbs/wow_FawyndArcaneSig.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Tuviabielski Signature" src="images/gallery/thumbs/wow_TuviSig.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Oobie Signature" src="images/gallery/thumbs/wow_DarthOobieTransmissionSig.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Aphroditexx Signature" src="images/gallery/thumbs/wow_AphroditexxSig.jpg">
				</div><!-- .thumbnail -->
				<div class="thumbnail">
					<img alt="Sonatina Signature" src="images/gallery/thumbs/wow_SonaHeavenlySig.jpg">
				</div><!-- .thumbnail -->
			</div><!-- #img_tab2 -->
		</div>

	</div>

	</div><!-- close the #content div -->
	
	<!-- image viewer modal overlay -->
	<div id="modal_overlay"></div>
		<div id="viewer_modal" class="modal rc">
		<a id="viewer_next" href="#">next</a>
		<a id="viewer_prev" href="#">previous</a>
		<a id="viewer_close" href="#">close</a>
		<div id="image_viewer">
			<img alt="Placeholder" src="images/placeholder.png">
		</div>
	</div>
	
	<div style="top: 315px;" id="moon"></div><!-- moon graphic placeholder -->
	
	<div id="footer">
		<p>&copy;<%= new Date().getFullYear() %> <%= sails.config.globals.site.title %>. Powered by <a href="http://sailsjs.org/#/">Sails.js</a>.</p>
	</div><!-- close the #footer div -->

</div><!-- #wrapper -->

<script src="/js/vendor/requirejs/require.js" data-main="/js/gallery-app.js"></script>


