<div class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
			<h1 id="logo">Web Graphics</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">

			<div id="img_gallery">

				<div id="gallery_thumbs">
					<div class="gallery_thumb">
						<img alt="Jedi Family" src="images/gallery/thumbs/composite_JediFamily.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Lego Wedding" src="images/gallery/thumbs/composite_LegoWedding.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Triel Bookmark" src="images/gallery/thumbs/illustration_TrielBookmark.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Rebellion Poster" src="images/gallery/thumbs/illustration_RebellionPoster.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Gamer On Board" src="images/gallery/thumbs/illustration_GamerOnBoard.png">
					</div>
					<div class="gallery_thumb">
						<img alt="Vida" src="images/gallery/thumbs/illustration_Vida.png">
					</div>
					<div class="gallery_thumb">
						<img alt="Soldier Painting" src="images/gallery/thumbs/illustration_SoldierPainting.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Ruins Poster" src="images/gallery/thumbs/illustration_RuinsPortrait.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Toy Robot" src="images/gallery/thumbs/illustration_ToyRobot.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Dark Planet" src="images/gallery/thumbs/space_DarkPlanet.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Living Planet" src="images/gallery/thumbs/space_LivingPlanet.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Goron Map" src="images/gallery/thumbs/dnd_GoronMap.png">
					</div>
					<div class="gallery_thumb">
						<img alt="WKII Logo" src="images/gallery/thumbs/logo_WKII.png">
					</div>
					<div class="gallery_thumb">
						<img alt="Snapdragon Studios Logo" src="images/gallery/thumbs/logo_SnapdragonStudios.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Ascension Banner" src="images/gallery/thumbs/wow_AscensionBanner.png">
					</div>
					<div class="gallery_thumb">
						<img alt="Fawynd Signature" src="images/gallery/thumbs/wow_FawyndArcaneSig.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Tuviabielski Signature" src="images/gallery/thumbs/wow_TuviSig.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Oobie Signature" src="images/gallery/thumbs/wow_DarthOobieTransmissionSig.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Aphroditexx Signature" src="images/gallery/thumbs/wow_AphroditexxSig.jpg">
					</div>
					<div class="gallery_thumb">
						<img alt="Sonatina Signature" src="images/gallery/thumbs/wow_SonaHeavenlySig.jpg">
					</div>
				</div>

			</div>

		</div>
	</div>

</div>

<div class="container-fluid">
	<div id="footer" class="row">
		<p>&copy;<%= new Date().getFullYear() %> <%= sails.config.globals.site.title %>. Powered by <a href="http://sailsjs.org/#/">Sails.js</a>.</p>
	</div>
</div>

<!-- image viewer modal overlay -->
<div id="modal_overlay"></div>
	<div id="viewer_modal" class="modal rc">
	<a id="viewer_next" href="#">next</a>
	<a id="viewer_prev" href="#">previous</a>
	<a id="viewer_close" href="#">close</a>
	<div id="image_viewer">
		<img alt="Placeholder" src="images/placeholder.png">
	</div>
</div>

<div id="moon"></div><!-- moon graphic -->

<script src="/js/vendor/requirejs/require.js" data-main="/js/gallery-app.js"></script>


