<div class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">
			<h1 id="logo">Web Graphics</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2">

			<div id="img_gallery">

				<div id="gallery_thumbs">
					<% _.each(images, function (image) { %>
						<div class="gallery_thumb">
							<img src="<%= image.link %>">
						</div>
					<% }) %>
				</div>

			</div>

		</div>
	</div>

</div>

<div class="container-fluid">
	<div id="footer" class="row">
		<p>&copy;<%= new Date().getFullYear() %> <%= sails.config.globals.site.title %>. Powered by <a href="http://sailsjs.org/#/">Sails.js</a>.</p>
	</div>
</div>

<!-- image viewer modal overlay -->
<div id="modal_overlay"></div>
	<div id="viewer_modal" class="modal rc">
	<a id="viewer_next" href="#">next</a>
	<a id="viewer_prev" href="#">previous</a>
	<a id="viewer_close" href="#">close</a>
	<div id="image_viewer">
		<img alt="Placeholder" src="images/placeholder.png">
	</div>
</div>

<div id="moon"></div><!-- moon graphic -->

<script src="/js/vendor/requirejs/require.js" data-main="/js/gallery-app.js"></script>


