<div id="characterModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Character Details For <span contenteditable="true" data-bind="editableText: selectedCharacterName"></span>, the <!-- ko with: selectedCharacter --><span data-bind="text: charClass"></span><!-- /ko --></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<ul class="list-group" data-bind="with: selectedCharacter">
							<li class="list-group-item">
								Strength: <span class="pull-right" data-bind="text: strength"></span>
							</li>
							<li class="list-group-item">
								Dexterity: <span class="pull-right" data-bind="text: dexterity"></span>
							</li>
							<li class="list-group-item">
								Vitality: <span class="pull-right" data-bind="text: vitality"></span>
							</li>
							<li class="list-group-item">
								Intellect: <span class="pull-right" data-bind="text: intellect"></span>
							</li>
							<li class="list-group-item">
								Health: <span class="pull-right" data-bind="text: health"></span>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<p contenteditable="true" data-bind="editableText: selectedCharacterBiography"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-bind="click: updateCharacter">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->